* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.layout {
  margin: 0 auto;
}

.startButton {
  font-size: 2.2em;
  line-height: 1.1;
  cursor: pointer;
  background: #e3e3e3;
  padding: 10px 20px;
}

.startButton:hover {
  color: #646cff;
}

.identyBox {
  margin-top: 16px;
}

.identyTitle {
  font-size: 2.2em;
  line-height: 1.1;
}

.identyButtons {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.identyButton {
  font-size: 1.8em;
  line-height: 1.1;
  cursor: pointer;
  background: #e3e3e3;
  padding: 10px 20px;
  margin: 0px 20px;
}

.identyButton:hover {
  color: #646cff;
}

.x1ButtonsBox {
  display: block;
}

.x1Button {
  margin: 0px auto;
  font-size: 1.2em;
  line-height: 1.1;
  cursor: pointer;
  background: #e3e3e3;
  padding: 10px 20px;
  margin: 16px 20px;
}

.x1Button:hover {
  color: #646cff;
}

.inputBox {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 80%;
  border: 1px solid #c0c4d6;
  border-radius: 5px;
  height: 22px;
  margin: 1px 0px;
  padding: 2px 5px;
  color: #3e3e3e;
}

.input:focus {
  border: 1px solid #a4b3c5;
  box-shadow: 0px 0px 2px #a4b3c5;
  outline: none !important
}

.input::placeholder {
  font-size: 11px;
}

.imageBox {
  width: 100%;
  margin: 0px auto;
}

.image {
  width: 100%;
}

.back {
  position: absolute;
  top: 8px;
  left: 8px
}

.tableWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dayProgressBox {
  width: calc(50% - 32px);
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin: 16px;
}

.dayProgressBoxTitle {
  color: #213547;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.currentProgress {
  width: 60%;
}

.currentProgressImage {
  max-width: 100%;
}

.progressHelperWrapper {
  display: block;
  width: 20%;
}

.progressHelperBox {
  width: 100%;
}

.unlike {
  width: 70%;
  transform: rotate(180deg);
  filter: invert(41%) sepia(93%) saturate(6159%) hue-rotate(350deg) brightness(90%) contrast(111%);
}

.like {
  width: 70%;
  filter: invert(21%) sepia(87%) saturate(4677%) hue-rotate(103deg) brightness(98%) contrast(106%);
}